snippet fix "fix conventional commit"
fix(${1:scope}): ${2:title}

${0:${VISUAL}}
endsnippet

snippet feat "feat conventional commit"
feat(${1:scope}): ${2:title}

${0:${VISUAL}}
endsnippet

snippet chore "chore conventional commit"
chore(${1:scope}): ${2:title}

${0:${VISUAL}}
endsnippet

snippet doc "doc conventional commit"
docs(${1:scope}): ${2:title}

${0:${VISUAL}}
endsnippet

snippet test "test conventional commit"
test(${1:scope}): ${2:title}

${0:${VISUAL}}
endsnippet

