;; The deps.edn file describes the information needed to build a classpath.
;;
;; When using the `clojure` or `clj` script, there are several deps.edn files
;; that are combined:
;; - install-level
;; - user level (this file)
;; - project level (current directory when invoked)
;;
;; For all attributes other than :paths, these config files are merged left to right.
;; Only the last :paths is kept and others are dropped.

{
  ;; Paths
  ;;   Directories in the current project to include in the classpath

  ;; :paths ["src"]

  ;; External dependencies

  ;; :deps {
  ;;   org.clojure/clojure {:mvn/version "1.9.0"}
  ;; }

  ;; Aliases
	;;   resolve-deps aliases (-R) affect dependency resolution, options:
	;;     :extra-deps - specifies extra deps to add to :deps
	;;     :override-deps - specifies a coordinate to use instead of that in :deps
	;;     :default-deps - specifies a coordinate to use for a lib if one isn't found
	;;   make-classpath aliases (-C) affect the classpath generation, options:
	;;     :extra-paths - vector of additional paths to add to the classpath
	;;     :classpath-overrides - map of lib to path that overrides the result of resolving deps

  ;; :aliases {
  ;;   :deps {:extra-deps {org.clojure/tools.deps.alpha {:mvn/version "0.5.452"}}}
  ;;   :test {:extra-paths ["test"]}
  ;; }

  ;; Provider attributes

  ;; :mvn/repos {
  ;;   "central" {:url "https://repo1.maven.org/maven2/"}
  ;;   "clojars" {:url "https://repo.clojars.org/"}
  ;; }
 :aliases {:ancient {:extra-deps {olical/depot {:mvn/version "1.5.1"}}
                     :main-opts ["-m" "depot.outdated.main"]}
           :benchmark {:extra-deps {criterium/criterium {:mvn/version "0.4.4"}}}
           :portal {:extra-deps {djblue/portal {:mvn/version "0.38.2"}}}
           :addlib {:extra-deps {org.clojure/tools.deps.alpha {:git/url "https://github.com/clojure/tools.deps.alpha.git"
                                                               :git/sha "8f8fc2571e721301b6d52e191129248355cb8c5a"}}}
           :migrer {:extra-deps {migrer-cli/migrer-cli {:git/url "https://github.com/mdiin/migrer-cli" :sha "b5e2663a2a70b36b95183cf5d1a23b12188127ed"}}
                    :main-opts ["-m" "migrer-cli.main"]}
           :cambada {:extra-deps
                     {cambada/cambada {:local/root "/home/matthias/Projekter/cambada"}}
                     #_{github-xfthhxk/cambada {:git/url "https://github.com/xfthhxk/cambada" :sha "8fdc7d29a41620ad3e9e6210fd7140f3a4c7936b"}}
                     #_{luchiniatwork/cambada {:mvn/version "1.0.0"}}}
           :reveal {:extra-deps {vlaaad/reveal {:mvn/version "1.3.212"}}}
           :nrepl {:extra-deps {nrepl/nrepl {:mvn/version "1.0.0"}
                                cider/cider-nrepl {:mvn/version "0.28.5"}
                                refactor-nrepl/refactor-nrepl {:mvn/version "3.5.2"}}
                   :main-opts ["-m" "nrepl.cmdline"]}
           :socket {:extra-deps {vlaaad/reveal {:mvn/version "1.3.212"}}
                    :jvm-opts ["-Dclojure.server.reveal={:port,50505,:accept,vlaaad.reveal/io-prepl}"]}
           }}
